/* centers text */
.team {
  padding-bottom: 1rem;
}

/* adds spacing in between teammate's role and buttons */
.teammate h6 {
  padding-bottom: 1rem;
}

/* footer icon spacing */
.icon-spacing a {
  padding-right: 1rem;
}

/* changes text color of footer */
footer li {
  color: #9f9f9f !important;
}

/* changes the sidebar, header, and footer */
#sidebar, #sidebar nav a:before, #footer, #header {
  background-color: #2e3840;
}

/* changes the selection cursor under the navbar */
#sidebar nav a:after {
  background-color: #35CE8D;
}

/* Responsive YouTube Video */
.video-wrapper {
  position: relative;
  width: 100%;
  max-width: 32rem;
  min-height: 20rem;
  padding-bottom: 12rem;
  margin-bottom: 2.5rem;
}

.video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.welcome {
  padding-top: 0 !important;
}